/*
 * Este aquivo lida com a estilização das páginas (cores, bordas, fontes, etc.)
 */

body {
    background-color: white;

    background-attachment: fixed;
}

div#text {
    text-align: center;
}

li.menuitem:active {
	background-color: #004A4A;
}

li.menuitem a {
    color: black;
    border-radius: 8px;
}

div#header {
    margin: 0;
    text-align: center;
	background-color: #005C5C;
}

button#menuButton {
    border-radius: 50%;
    outline-style: none;
}

div#menu {
	background-color: #005C5C;
}

